@font-face {
    font-family: 'sadLaugh';
    src: url(./fonts/Sad\ Kropotkin\ Laugh.ttf)  format('truetype');
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('img/dinoworld/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'sadLaugh', Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.d-none {
    display: none;
}

h1 {
    white-space: nowrap;
    position: absolute;
    top: calc(10% - 248px); /* 50% der Höhe des Fensters minus halbe Höhe des Canvas (240px) minus 8px Abstand */
    transform: translateY(-70%);
    margin: 0;
    font-size: 64px;
    color: white;
    letter-spacing: 4px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 64px;
}

canvas {
    background-color: black;
    border: 8px solid #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 60%;
    transform: translateY(-90%);
}

#startButton {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 12px 24px;
    cursor: pointer;
    z-index: 1;
    background: transparent;
    border: none;
    background-image: url("img/buttons/Play (1).png" );
    background-size: cover;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
}

#startButton:hover {
    background-image: url("img/buttons/Play (2).png");
}

#helpButton {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 12px 24px;
    cursor: pointer;
    z-index: 1;
    background: transparent;
    border: none;
    background-image: url("img/buttons/Help (1).png" );
    background-size: cover;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;

}

#helpButton:hover {
    background-image: url("img/buttons/Help (2).png");
}


#fullscreenButton {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 12px 24px;
    cursor: pointer;
    z-index: 1;
    background: transparent;
    border: none;
    background-image: url("img/buttons/blank/Blank (1).png" );
    background-size: cover;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
}

#fullscreenButton:hover {
    background-image: url("img/buttons/blank/Blank (2).png");
}

.game-Buttons {
    display: flex;
    z-index: 1;
    position: absolute;
    justify-content: space-between;
    right: 0;
    left: 0;
    bottom: 5%;
    margin: 0 32px;
   
}

.buttonContainer {
    display: flex;
    height: 64px;
    width: 64px; 
    cursor: pointer;
}
.buttonSmallContainer {
    display: flex;
    padding-right: 16px;
}

.buttonContainer img {
    height: 64px;
    width: 64px;
}

/* Smartphones ----- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100svw;
    }
}

/* Smartphones ----- */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100svh;
    }
}