@font-face {
    font-family: 'sadLaugh';
    src: url(./fonts/Sad\ Kropotkin\ Laugh.ttf)  format('truetype');
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100dvh;
    margin: 0;
    background-image: url('img/dinoworld/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'sadLaugh', Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.d-none {
    display: none !important;
}

h1 {
    white-space: nowrap;
    position: absolute;
    top: calc(10% - 248px); 
    transform: translateY(-70%);
    margin: 0;
    font-size: 64px;
    color: white;
    letter-spacing: 4px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 64px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    z-index: 1;
    color: white;
    margin: 0;
    padding: 8px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    position: absolute;
    top: 1%;
  }

  #rotateDeviceImage {
    height: auto;
    width: 480px;
    max-width: 90%;
    max-height: 80%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    border: 6px solid white;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
  }

canvas {
    background-color: black;
    border: 8px solid #ffffff;
    left: 0px;
    display: block;
    
}

#fullscreen {
    position: relative;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    position: absolute;
    width: 100%;
    z-index: 1;

}

#startButton {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 12px 24px;
    cursor: pointer;
    z-index: 1;
    background: transparent;
    border: none;
    background-image: url("img/buttons/Play (1).png" );
    background-size: cover;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
}

#startButton:hover {
    background-image: url("img/buttons/Play (2).png");
}

#helpButton {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 12px 24px;
    cursor: pointer;
    z-index: 1;
    background: transparent;
    border: none;
    background-image: url("img/buttons/Help (1).png" );
    background-size: cover;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;

}

#helpButton:hover {
    background-image: url("img/buttons/Help (2).png");
}


#fullscreenButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 12px 24px;
    cursor: pointer;
    z-index: 1;
    background: transparent;
    border: none;
    background-image: url("img/buttons/blank/Blank (1).png" );
    background-size: cover;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
}

.overly-fullscreen-image {
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    height: 100%; 
    width: 140%;
    pointer-events: none; 
    z-index: 1;
}

.overly-fullscreen-image img{
    position: relative;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
}

#fullscreenButton:hover {
    background-image: url("img/buttons/blank/Blank (2).png");
}

.game-Buttons {
    display: flex;
    z-index: 1;
    position: absolute;
    justify-content: space-between;
    right: 0;
    left: 0;
    bottom: 1%;
    padding: 0 18px;
    height: 64px;
}

.buttonContainer {
    display: flex;
    height: 64px;
    width: 64px; 
    cursor: pointer;
}
.buttonSmallContainer {
    display: flex;
    padding-right: 16px;
}

.buttonContainer img {
    height: 64px;
    width: 64px;
}

/* Smartphones ----- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100svw;
    }
}

/* Smartphones ----- */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100svh;
    }
}